<html>
    <head>
        <title>Insert Title here</title>
    </head>
    <body>
        안녕하세요! 이 웹사이트는 드론과 python 를 이어주는 웹사이트입니다.</p>
        자세한 사항은 readme.md 또는 <a href="https://github.com/SDR-Roul">Github</a>로 연락주세요!</p>
        이 리포지토리는 <a href="https://github.com/SDR-Roul/E-Drone-Roul">여기</a>에서 다운받으실 수 있습니다.</p>
        </p>
        Hello! This website helps connecting Drone and Python</p>
        For more information look readme.md or call to <a href="https://github.com/SDR-Roul">Github</a>.</p>
        You can download this repository in <a href="https://github.com/SDR-Roul/E-Drone-Roul">Here</a></p>
    </body>
</html>
